[submodule "themes/zzo"]
	path = themes/zzo
	url = https://github.com/zzossig/hugo-theme-zzo.git
[submodule "public"]
	path = public
	url = git@github.com:jorge-ramirezs/jorge-ramirezs.github.io.git
	branch = master
[submodule "themes/hugo-swift-theme"]
	path = themes/hugo-swift-theme
	url = https://github.com/onweru/hugo-swift-theme.git
